/*========================================*/
            /*FONTS*/
/*========================================*/
@font-face{
    src: url('../fonts/SEGOEUI.TTF');
    font-family: SEGOEUI, sans-serif;
}
/*========================================*/
            /*BASIC SETUP*/
/*========================================*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-family: SEGOEUI, sans-serif;
    font-size: 20px;
    color: #464b4f;
    background: #fff;
    text-rendering: optimizeLegibility;
    text-align: center;
}
.row{
    max-width: 980px;
    margin: auto;
    padding: 0 30px;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
/*========================================*/
            /*REUSUABLE COMPOENETS*/
/*========================================*/

header,section,footer {
    padding: 120px 0;
}
h1,h2{
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h3{
    font-size: 90%;
    margin: 10px 0;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.btn{
    margin-top: 60px;
}
.btn-full:link,
.btn-full:visited,
input[type="submit"]{
    color: #fff;
    background-color: #06c6f0;
    padding: 15px 35px;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .5s;
    border: 1px solid transparent;
}
.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover{
    background-color: #048FAE;
    cursor: pointer;
}
/*========================================*/
            /*HERO SECTION*/
/*========================================*/
.hero {
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url('img/hero-bg.jpg') no-repeat center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('img/hero-bg.jpg') no-repeat center / cover;
    height: 100vh;
    color: #fff;
}
.logo {
    height: 85px;
}
.hero-text-box {
    width: 980px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hero-text-box p {
    font-size: 90%;
    width: 70%;
    margin: auto;
}
.scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
}
.scroll-down a i {
    color: #fff;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    font-size: 100%;
    border-radius: 50%;
    line-height: 30px;
}
/*========================================*/
            /*ABOUT SECTION*/
/*========================================*/
.about{
    background: url('img/zikjak.png') no-repeat center / cover;
}
.about-me p{
    font-size: 150%;
    line-height: 130%;
}
.about h2{
    margin: 60px 0;
}
.about-box {
    text-align: left;
}
.about-box p{
    font-size: 90%;
    color: #888a8b;
    line-height: 150%;   
}
/*========================================*/
            /*WORK SECTION*/
/*========================================*/
.work{
    background: #23232e;
    color: #fff;
}
.work h3{
    font-size: 105%;
}
.work span{
    font-size: 70%;
    color: #818baa;
    margin-bottom: 15px;
    display: inline-block;
}
.filter{
   margin: 45px 0; 
}
.filter ul{
    margin: 0;
    padding: 0;
}
.filter ul li {
    list-style: none;
    display: inline-block;
}
.filter ul li a:link,
.filter ul li a:visited{
    color: #fff;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
}
.filter ul li a:hover,
.filter ul li a:active{
   border-color: #7b77c9;
}
.demo{
    background: #000;
}
.demo img{
    width: 100%;
    opacity: 0.7;
    vertical-align: middle;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.demo img:hover{
    opacity: 1;
}
/*========================================*/
            /*PHOTOGRAPHY SECTION*/
/*========================================*/
.pg{
    background:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))),  url('img/gradient.jpg') no-repeat center / cover;
    background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),  url('img/gradient.jpg') no-repeat center / cover;
}
.pg h2{
    color: #fff;
}
.pg p{
    font-size: 150%;
    color: #fff;
    width: 84%;
    margin: 30px auto;
}
.pg img{
    display: block;
    width: 100%;
}
.pg img{
    width: 100%;
    opacity: 0.7;
    vertical-align: middle;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.pg img:hover{
    opacity: 1;
}
/*========================================*/
            /*SUBSCRIBE SECTION*/
/*========================================*/
.subcribe{
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))), url('img/it-bg.jpg') no-repeat center / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('img/it-bg.jpg') no-repeat center / cover;
    padding: 120px 0;
   
}
.infinity {
   height: 35px;
    
}
.subcribe p{
    font-size: 90%;
    width: 50%;
    margin: 35px auto;
    color: #fff;
}
from input[type="email"]{
   border: 1px solid #fff;
    font-size: 90%;
    color: #333;
    padding: 15px 10px;
    border-radius: 5px;
    width: 380px;
}
from input[type="submit"]{
    font-size: 90%;
    padding: 15px 45px;
}
from::-webkit-input-placeholder{
    color: #c8c8c8;
}
from:-ms-input-placeholder{
    color: #c8c8c8;
}
from::placeholder{
    color: #c8c8c8;
}
/*========================================*/
            /*FOOTER SECTION*/
/*========================================*/
.footer{
    background: url('img/zikjak.png') no-repeat center / cover;
}
.footer ul li{
    display: inline-block;
}
.footer ul li a{
    color: #dbdbdb;
    font-size: 300%;
    margin: 0 30px;
}


.footer ul li:nth-child(1):hover a{
    color: #4DABF7
}
.footer ul li:nth-child(2):hover a{
    color: #4DABF7
}
.footer ul li:nth-child(3):hover a{
    color: #FF0000;
}
.footer ul li:last-child:hover a{
    color: #0000ff;
}
.copyright{
    color: #dbdbdb;
    font-size: 90%;
    margin-top: 60px;
    
}























